@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.65;
  color: #393d41;
}
.headings {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  color: #25a2c3;
}
/* === HEADER === */
header {
  background-color: black;
  padding: 30px;
}
header img {
  width: 15%;
}
/* === MAIN === */
/* incipit */
#incipit {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 150px 300px;
}
#incipit h1 {
  font-size: 3rem;
  line-height: 1;
  margin: 35px;
  margin-bottom: 25px;
}

#incipit p {
  font-size: 2rem;
  margin: 0px 10px;
}

#incipit button {
  background-color: #f04c2f;
  border: 0;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  padding: 20px 40px;
  margin: 50px 0 40px 0;
  cursor: pointer;
}

/* firstGroup */
#firstGroup {
  text-align: center;
  padding: 80px;
}
.firstGroup-img,
.paragraphs {
  display: inline-block;
  vertical-align: middle;
}

.firstGroup-img {
  width: 30%;
  margin: 100px 50px;
}

.firstGroup-img img {
  border-radius: 50%;
  width: 100%;
}

.paragraphs {
  width: 30%;
  text-align: left;
  font-size: 1.3rem;
  margin: 100px 50px;
}

.firstGroup {
  margin: 30px 0;
}
.firstGroup h2 {
  margin-bottom: 10px;
}

/* ceoCite */
#ceoCite {
  background-color: #e22d0e;
  text-align: center;
  color: white;
  padding: 60px 20px;
}

#ceoCite h2 {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}

#ceoCite p:nth-of-type(1) {
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

#ceoCite p:nth-of-type(2) {
  font-size: 1.5rem;
}

/* secondGroup */
#secondGroup {
  text-align: center;
  padding: 80px 50px;
}

.card {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  height: 420px;
  margin: 0 10px;
  border: 1px solid #dee1e3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  text-align: center;
  padding: 0 0 15px;
}

.imgContainer {
  width: 100%;
  height: 66.6%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card h2 {
  margin: 20px 0;
}

/* === FOOTER === */
footer {
  background-color: #25a2c3;
  text-align: center;
  padding: 20px;
}

.footContainer {
  width: fit-content;
  margin: auto;
}
footer h2 {
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin: 15px 0;
}

footer ul,
footer a,
footer div {
  color: #c8e7f0;
}

footer ul {
  text-align: left;
  margin: auto;
  margin-bottom: 30px;
}

footer ul li {
  list-style: none;
  font-size: 1.2rem;
}

.fas {
  color: white;
}

.copyright {
  margin: auto;
  border-top: 1px solid #c8e7f0;
  padding: 30px;
  margin-bottom: 30px;
}
