@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.65;
  color: #393d41;
}
.headings {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  color: #25a2c3;
}
/* === HEADER === */
header {
  background-color: black;
  text-align: center;
  padding: 30px;
}
header img {
  width: 40%;
}
/* === MAIN === */
/* incipit */
#incipit {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
}
#incipit h1 {
  font-size: 2.5rem;
  line-height: 1;
  margin: 35px;
  margin-bottom: 25px;
}

#incipit p {
  font-size: 1.3rem;
  margin: 0px 10px;
}

#incipit button {
  background-color: red;
  border: 0;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 15px 35px;
  margin: 30px 0 25px 0;
  cursor: pointer;
}

/* firstGroup */
.firstGroup {
  text-align: center;
  padding: 30px;
  font-size: 1.3rem;
}

.firstGroup-img {
  padding: 0px 50px;
}
.firstGroup-img img {
  width: 100%;
  border-radius: 50%;
}

#ceoCite {
  background-color: red;
}
/* === FOOTER === */
